#
# This is an exmaple of a possible "hosts" cluster (trusted pool) definition
# file. Each line consists of the hostname and its ip address -- one pair per
# line. The reason for requiring both the hostname and its IP address is 
# because install.sh appends hostname and ip to the /etc/hosts file on each
# storage node to set up IP -> host name resolution.
#
# The order of "hostname  ip" represents the gluster volume replica order. For
# example, if your cluster consists of 4 nodes with the files distributed
# across all 4 nodes, a replication count of 2, and the replica nodes being the
# "even" nodes, then the deploy "hosts" file should look as follows:
 
hostname-1  192.168.122.51  # This could be the "install-from" node
hostname-2  192.168.122.52 
hostname-3  192.168.122.53 
hostname-4  192.168.122.54 

# The above order, combined with a replica count of 2, causes hostname-1 and
# hostname-2 to be replica pairs, and hostname-3 and hostname-4 to be the
# second replica pair.

